<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New doc</title>
</head>
<body id="all" style="padding: 50px 50px;">
  <div style="background-image: url(../assets/img/monster.jpeg);">
  <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Facilis ea incidunt tempora eius eos saepe error officia, 
    tempore aut numquam impedit optio voluptatem officiis provident fuga dolorum q
    uaerat voluptas maiores.</h1>
  </div>
  <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, 
    asperiores perferendis cupiditate iste, doloremque, voluptates consequuntur 
    dolorum necessitatibus quae commodi harum eveniet! Debitis quibusdam magnam 
    explicabo minus laudantium hic corrupti.</h4>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
    Saepe, dolor perspiciatis. Eveniet aliquam neque, cumque quod optio autem nisi rerum, 
    tenetur atque quae veniam, nobis ut aspernatur laudantium. Amet, nostrum.</p>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Facilis ea incidunt tempora eius eos saepe error officia, 
      tempore aut numquam impedit optio voluptatem officiis provident fuga dolorum q
      uaerat voluptas maiores.</h1>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, 
      asperiores perferendis cupiditate iste, doloremque, voluptates consequuntur 
      dolorum necessitatibus quae commodi harum eveniet! Debitis quibusdam magnam 
      explicabo minus laudantium hic corrupti.</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
      Saepe, dolor perspiciatis. Eveniet aliquam neque, cumque quod optio autem nisi rerum, 
      tenetur atque quae veniam, nobis ut aspernatur laudantium. Amet, nostrum.</p>
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Facilis ea incidunt tempora eius eos saepe error officia, 
        tempore aut numquam impedit optio voluptatem officiis provident fuga dolorum q
        uaerat voluptas maiores.</h1>
      <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, 
        asperiores perferendis cupiditate iste, doloremque, voluptates consequuntur 
        dolorum necessitatibus quae commodi harum eveniet! Debitis quibusdam magnam 
        explicabo minus laudantium hic corrupti.</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Saepe, dolor perspiciatis. Eveniet aliquam neque, cumque quod optio autem nisi rerum, 
        tenetur atque quae veniam, nobis ut aspernatur laudantium. Amet, nostrum.</p>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Facilis ea incidunt tempora eius eos saepe error officia, 
          tempore aut numquam impedit optio voluptatem officiis provident fuga dolorum q
          uaerat voluptas maiores.</h1>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, 
          asperiores perferendis cupiditate iste, doloremque, voluptates consequuntur 
          dolorum necessitatibus quae commodi harum eveniet! Debitis quibusdam magnam 
          explicabo minus laudantium hic corrupti.</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Saepe, dolor perspiciatis. Eveniet aliquam neque, cumque quod optio autem nisi rerum, 
          tenetur atque quae veniam, nobis ut aspernatur laudantium. Amet, nostrum.</p>

          
        <!-- <button (click)="generatePdf()">Generate Pdf</button> -->
        <div id="alll" style="margin-left: 5px; background-color: cadetblue;" class="main-container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Iure ut iste quasi sequi pariatur corrupti similique corporis quaerat 
                  necessitatibus distinctio aspernatur quos nesciunt, molestias, eos rem? 
                  Molestias nam possimus nostrum.</p>
                  <img src="../assets/img/monster.jpeg" alt="no">

                  <h2>Basic HTML Table</h2>

            <table style="width:100%;border: 1px solid black;">
              <tr>
                <th>Firstname</th>
                <th>Lastname</th> 
                <th>Age</th>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>80</td>
              </tr>
            </table>
        </div>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Facilis ea incidunt tempora eius eos saepe error officia, 
          tempore aut numquam impedit optio voluptatem officiis provident fuga dolorum q
          uaerat voluptas maiores.</h1>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, 
          asperiores perferendis cupiditate iste, doloremque, voluptates consequuntur 
          dolorum necessitatibus quae commodi harum eveniet! Debitis quibusdam magnam 
          explicabo minus laudantium hic corrupti.</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Saepe, dolor perspiciatis. Eveniet aliquam neque, cumque quod optio autem nisi rerum, 
          tenetur atque quae veniam, nobis ut aspernatur laudantium. Amet, nostrum.</p>
        
        <!-- <button class="icon_image " title="Share As PDF" (click)="exportAsPDF('all');">exportAsPDF</button>
        <button class="icon_image " title="Share As PDF" (click)="captureScreen();">captureScreen</button> -->
        <button class="icon_image " title="Share As PDF" (click)="exportAsPdf();">downloadPDF</button>

        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, 
          asperiores perferendis cupiditate iste, doloremque, voluptates consequuntur 
          dolorum necessitatibus quae commodi harum eveniet! Debitis quibusdam magnam 
          explicabo minus laudantium hic corrupti.</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Saepe, dolor perspiciatis. Eveniet aliquam neque, cumque quod optio autem nisi rerum, 
          tenetur atque quae veniam, nobis ut aspernatur laudantium. Amet, nostrum.</p>
</body>
</html>